<span class="header">
  <%= Redmine::WikiFormatting.to_html(Setting.text_formatting,
      Setting.plugin_redmine_update_reminder['header']).html_safe %>
</span>

<%= @user.name %>,
<p>
  You have not logged in since <%= @last_login %>
</p>

<span class="header">
  <%= Redmine::WikiFormatting.to_html(Setting.text_formatting,
      Setting.plugin_redmine_update_reminder['footer']).html_safe %>
</span>
<br/>

<%=  Setting.plugin_redmine_update_reminder['footer'] %>
