<%=@user.name%>,
<br/><br/>
<%=  Setting.plugin_redmine_update_reminder['header'] %>

<ul>
<% @issues_with_updated_since.each do |issue_with_updated_since| -%>
  <%issue, updated_since = issue_with_updated_since%>
  <li>
    <%= link_to_issue(issue, project: true, only_path: false) %>
    has not been updated for <strong><%=time_ago_in_words(updated_since)%></strong>.     
  </li>
<% end -%>
</ul>

Immediate attention is required.

<br/>
<%=  Setting.plugin_redmine_update_reminder['footer'] %>