<table>
  <thead>
  <tr>
    <% %w(author assigned_to watchers user_groups).each do |recipient| %>
      <th><%= l "intouch.recipient.#{recipient}" %></th>
    <% end %>
  </tr>
  </thead>

  <tr>
    <% %w(author assigned_to watchers).each do |receiver| %>
      <td>
        <% %w(telegram email).each do |protocol| %>
          <%= check_box_tag "intouch_settings[#{protocol}_settings][#{status}][#{receiver}]", '1',
                            @project.send("#{protocol}_settings").try(:[], status).try(:[], receiver) %>
          <%= label_tag l "intouch.protocol.#{protocol}" %><br>
        <% end %>
      </td>

    <% end %>
    <td>
      <% Group.find_each do |user_group| %>
        <%= user_group.name %><br>
        <% %w(telegram email).each do |protocol| %>
          <%= check_box_tag "intouch_settings[#{protocol}_settings][#{status}][user_groups][#{user_group.id}]", '1',
                            @project.send("#{protocol}_settings").try(:[], status).try(:[], 'user_groups').try(:[], user_group.id.to_s) %>

          <%= label_tag l "intouch.protocol.#{protocol}" %><br>
        <% end %>
      <% end %>
    </td>
  </tr>

</table>
