<% html_title "#{t('intouch.settings.sidekiq_cron_job.edit')} - Redmine Intouch plugin" %>

<h2>
  <%= link_to t('label_module_plural'), '/admin/plugins' %>
  &#187;
  <%= link_to 'Redmine Intouch plugin', '/settings/plugin/redmine_intouch' %>
  &#187;
  <%= link_to l(:label_intouch_sidekiq_cron_job_plural),
              { action: "plugin", id: "redmine_intouch", controller: "settings", tab: 'sidekiq_cron_jobs'} %> &#187;
  <%= t("intouch.cron.#{@sidekiq_cron_job.name}") %>
</h2>

<%= form_tag({action: 'update', id: @sidekiq_cron_job.name}, class: "tabular", method: :put) do %>
  <% if @sidekiq_cron_job.errors.present? %>
    <pre><%=@sidekiq_cron_job.errors %></pre>
  <% end %>
  <div class="box tabular">
    <p><label for="sidekiq_cron_job_name">Cron<span class="required"> *</span></label>
      <%= text_field_tag 'sidekiq_cron_job[cron]', @sidekiq_cron_job.cron %></p>
  </div>

  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'intouch.css', plugin: 'redmine_intouch' %>
  <%= javascript_include_tag 'intouch.js', plugin: 'redmine_intouch' %>
<% end %>
