<div class="box">
  <p class="description">
    Укажите каким пользователям отравлять уведомление в Telegram при каких статусах задачи.<br>
    Уведомление придет к получателю, если у него в настройках указан профиль Telegram.<br>
    Чтобы профили Telegram были добавлены в Redmine, каждый пользователь должен отправить боту сообщение
    <strong>/start</strong>
  </p>
  <table>
    <thead>
    <tr>
      <th><%= l "intouch.recipient.title" %></th>
      <% %w(author assigned_to watchers user_groups).each do |recipient| %>
        <th><%= l "intouch.recipient.#{recipient}" %></th>
      <% end %>
    </tr>
    </thead>

    <% %w(alarm new working feedback overdue).each do |notice| %>
      <tr>
        <th><%= l "intouch.statuses.#{notice}" %></th>
        <% %w(author assigned_to watchers).each do |receiver| %>
          <td class="center">
            <%= check_box_tag "intouch_settings[telegram_settings][#{notice}][#{receiver}]", '1',
                              @project.telegram_settings.try(:[], notice).try(:[], receiver) %>
          </td>

        <% end %>
        <td>
          <% Group.find_each do |user_group| %>
            <%= check_box_tag "intouch_settings[telegram_settings][#{notice}][user_groups][#{user_group.id}]", '1',
                              @project.telegram_settings.try(:[], notice).try(:[], 'user_groups').try(:[], user_group.id.to_s) %>
            <%= label_tag user_group.name %><br>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>

  <h4><%= l "intouch.recipient.telegram_groups" %></h4>
  <p class="description">
    Укажите в какую группу какие уведомления посылать
  </p>

  <% TelegramGroupChat.find_each do |telegram_group| %>
    <h5><%= telegram_group.title %></h5>
    <table>
      <thead>
      <tr>
        <th>Статус \ Приоритет</th>
        <% IssuePriority.order(:position).each do |priority| %>
          <th><%= priority.name %></th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% IssueStatus.order(:position).each do |status| %>
        <tr>
          <th>
            <%= status.name %>
          </th>
          <% IssuePriority.order(:position).each do |priority| %>
            <td>
              <%= check_box_tag "intouch_settings[telegram_settings][groups][#{telegram_group.id}][#{status.id}][]", priority.id,
                                @project.telegram_settings.try(:[], 'groups').try(:[], telegram_group.id.to_s).
                                    try(:[], status.id.to_s).try(:include?, priority.id.to_s) %>
            </td>

          <% end %>
        </tr>


      <% end %>
      </tbody>
    </table>
  <% end %>

</div>
