<% if Intouch.active_protocols.present? %>
  <%= error_messages_for 'intouch_settings' %>

  <% errors = [] %>
  <% errors << l('intouch.label.enable_module') unless @project.module_enabled?(:intouch) %>

  <% if errors.empty? %>
    <%= form_tag(
            { controller: :intouch, action: :save_settings, project_id: @project, tab: 'intouch_settings' },
            method: :put,
            multipart: true,
            id: 'intouch_settings',
            class: 'tabular',
        ) do %>
      <div class="box">
        <p>
          <label for="settings_template_id"><%= t 'intouch.project.settings.settings_template_label' %></label>
          <%= select_tag('intouch_settings[settings_template_id]',
              options_for_select(SettingsTemplate.order(:name).collect { |u| [u.name, u.id] }, @project.settings_template_id),
              include_blank: true) %>
          <% if @project.settings_template.present? %>
            <%= link_to t('intouch.project.settings.settings_template_edit'),
                controller: 'settings_templates', action: 'edit', id: @project.settings_template.id %>
          <% end %>
          <%= link_to l(:label_intouch_settings_template_new),
              { controller: 'settings_templates', action: 'new' }, class: 'icon icon-add' %>

          <%= link_to t('intouch.project.settings.plugin_settings'),
              '/settings/plugin/redmine_intouch', target: '_blank', class: 'linkToPluginSettings' %>
        </p>

      </div>

      <div class="intouch-settings" <%= raw('style="display: none;"') if @project.settings_template.present? %>>
        <%= render partial: 'projects/settings/intouch/common/settings', locals: { settings_source: @project } %>
      </div>

      <div style="clear:both;"></div>

      <%= submit_tag l(:button_save) %>

    <% end %>

  <% else %>
    <p class="nodata"><%= errors.join('<br/>').html_safe %></p>
  <% end %>
<% else %>
  <p class="nodata">
    <%= raw t('intouch.project.settings.settings_no_selected_protocol') %>
  </p>
<% end %>


<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'intouch.css', plugin: 'redmine_intouch' %>
  <%= javascript_include_tag 'intouch.js', plugin: 'redmine_intouch' %>
<% end %>
