<div class="box">
  <p class="description">
    <%= t('intouch.project.settings.reminder.intervals.description_1') %><br>
    <%= t('intouch.project.settings.reminder.intervals.description_2') %><br>
    <strong>
      <%= t('intouch.project.settings.reminder.intervals.example') %>:
    </strong>
    <%= t('intouch.project.settings.reminder.intervals.example_1') %><br>
    <%= raw t('intouch.project.settings.reminder.intervals.example_2') %><br>
    <%= raw t('intouch.project.settings.reminder.intervals.notice') %>
  </p>
  <table>
    <thead>
    <tr>
      <th><%= t('field_priority') %></th>
      <th><%= raw t('intouch.project.settings.reminder.intervals.remind_with_interval') %></th>
    </tr>
    </thead>

    <% IssuePriority.order(:position).each do |priority| %>
      <tr>
        <th><%= priority.name %></th>

        <td>
          <%= check_box_tag "intouch_settings[reminder_settings][#{priority.id}][active]", '1',
                            settings_source.reminder_settings.
                                try(:[], "#{priority.id}").try(:[], 'active') %>

          <%= number_field_tag "intouch_settings[reminder_settings][#{priority.id}][interval]",
                               settings_source.reminder_settings.
                                   try(:[], "#{priority.id}").try(:[], 'interval'), step: 0.1, class: 'hours_input' %>
          <%= label_tag "intouch_settings_reminder_settings_#{priority.id}_interval",t('intouch.project.settings.reminder.intervals.hours_short') %>
        </td>
      </tr>
    <% end %>

  </table>

</div>
