<div class="box" style="float: left">
  <p class="description">
    <%= t('intouch.project.settings.assigner_groups.description_html') %>
  </p>

  <div style="float: left">
    <p style="padding-left: 5px"><%= t('label_group_plural') %></p>
    <% Group.find_each do |group| %>
      <%= check_box_tag "intouch_settings[assigner_groups][]", group.id,
                        settings_source.assigner_groups.try(:include?, "#{group.id}"),
                        id: "intouch_settings_assigner_groups_#{group.id}"
      %>

      <%= label_tag "intouch_settings_assigner_groups_#{group.id}", group.name %><br>
    <% end %>
  </div>

  <div style="float: left">
    <p style="padding-left: 5px"><%= t('label_role_plural') %></p>
    <% Role.find_each do |role| %>
      <%= check_box_tag "intouch_settings[assigner_roles][]", role.id,
                        settings_source.assigner_roles.try(:include?, "#{role.id}"),
                        id: "intouch_settings_assigner_roles_#{role.id}"
      %>

      <%= label_tag "intouch_settings_assigner_roles_#{role.id}", role.name %><br>
    <% end %>
  </div>
</div>
