<% html_title "#{t('intouch.settings_templates.edit')} - Redmine Intouch plugin" %>

<h2>
  <%= link_to t('label_module_plural'), '/admin/plugins' %>
  &#187;
  <%= link_to 'Redmine Intouch plugin', '/settings/plugin/redmine_intouch' %>
  &#187;
  <%= link_to l(:label_intouch_settings_template_plural),
              { action: "plugin", id: "redmine_intouch", controller: "settings", tab: 'settings_templates'} %>
  &#187;
  <%= l(:label_intouch_settings_template_edit) %>
</h2>

<%= form_tag({:action => 'update', :id => @settings_template}, :class => "tabular", :method => :put) do %>
  <%= render :partial => 'form' %>
  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag 'intouch.css', plugin: 'redmine_intouch' %>
  <%= javascript_include_tag 'intouch.js', plugin: 'redmine_intouch' %>
<% end %>
