<div class="box tabular settings">
  <h4>Адрес сайта</h4>
  <%= text_field_tag 'settings[site_url]', @settings['site_url'], size: 50 %>
  <br>
  используется при формировании ссылки на задачу
  <br>
  При текущих настройках ссылка выглядит так:
  <%= link_to Intouch.issue_url(Issue.last.id), Intouch.issue_url(Issue.last.id), target: '_blank' %>

</div>

<div class="box tabular settings">
  <h4><%= l 'intouch.work_days.title' %></h4>

  <ul class="inline-checkboxes">
    <li>
      <label for="settings_work_day_from"><%= l 'intouch.work_days.from' %></label>
      <%= time_field_tag "settings[work_day_from]", @settings["work_day_from"] %>
    </li>
    <li>
      <label for="settings_work_day_to"><%= l 'intouch.work_days.to' %></label>
      <%= time_field_tag "settings[work_day_to]", @settings["work_day_to"] %>
    </li>
    <% Date::DAYNAMES.each_with_index do |day, i| %>
      <li>
        <%= check_box_tag "settings[work_days_#{i}]", '1',
                          @settings["work_days_#{i}"] %>
        <label for="settings_work_days_<%= i %>"><%= day %></label>
      </li>
    <% end %>
  </ul>
</div>

<div class="box tabular settings alarm">
  <h4><%= l 'intouch.priorities.title' %> "<%= l 'intouch.priorities.alarm' %>"</h4>
  <p class="description">Уведомления о задачах, с выбранными приоритетами, будут отправляться круглосуточно и без выходных. <br>
    Уведомления для остальных приоритетов будут отправляться только в рабочее время.
  </p>
  <ul class="inline-checkboxes">
    <% IssuePriority.find_each do |priority| %>
      <li>
        <%= check_box_tag "settings[alarm_priority_#{priority.id}]", '1',
                          @settings["alarm_priority_#{priority.id}"] %>
        <label><%= priority.name %></label>
      </li>

    <% end %>
  </ul>
</div>
<% %w(working feedback).each do |notification_group| %>
  <div class="box tabular settings">
    <h4><%= l 'intouch.reminder.title' %> "<%= l "intouch.reminder.#{notification_group}" %>"</h4>
    <ul class="inline-checkboxes">
      <% IssueStatus.find_each do |status| %>
        <li>
          <%= check_box_tag "settings[#{notification_group}_status_#{status.id}]", '1',
                            @settings["#{notification_group}_status_#{status.id}"] %>
          <label><%= status.name %></label>
        </li>

      <% end %>
    </ul>
  </div>
<% end %>
