<p>
  <label for="settings_header"><%= l 'intouch.email.header' %></label>
  <%= text_area_tag 'settings[header]', @settings['header'] %>
</p>

<p>
  <label for="settings_footer"><%= l 'intouch.email.footer' %></label>
  <%= text_area_tag 'settings[footer]', @settings['footer'] %>
</p>

<% Tracker.find_each do |tracker| %>

  <div class="box tabular settings">
    <p>
      <label><%= tracker.name %></label>
    </p>

    <p>
      <label for="settings_duration"><%= l 'intouch.email.interval' %></label>
      <%= text_field_tag "settings[#{tracker.id}_update_duration]", @settings["#{tracker.id}_update_duration"] %></p>
  </div>

<% end %>
