
<p>
  <label for="settings_cc">CarbonCopy To</label>
  <%= select_tag('settings[cc]',
                 options_for_select(User.where(status: 1).collect{|u| [u.name,u.mail]}, @settings['cc'])) %>
</p>
<p>
<%= @settings['cc'] %>
</p>

<p>
  <label for="settings_header">Header</label>
<%= text_area_tag 'settings[header]', @settings['header'] %>
</p>



<p>
  <label for="settings_footer">Footer</label>
<%= text_area_tag 'settings[footer]', @settings['footer'] %>
</p>
</div>

<%t=Tracker.all%>

<%t.each do |tracker|%>

<div class=box tabular settings>
  <p>
<label><%=tracker.name%></label>
</p>
<p>
<label for="settings_duration">Reminder Interval(in Days)</label>
<%= text_field_tag "settings[#{tracker.id}_update_duration]", @settings["#{tracker.id}_update_duration"] %></p>
</div>

<%end%>