
<p>
  <label for="settings_cc">Remind Users:</label>
  <%= select_tag('settings[remind_group]',
                 options_for_select(Group.all.collect{|g| [g.name, g.id]}, @settings['remind_group'])) %>
</p>
<p>
  <label for="settings_cc">Cc'd Group:</label>
  <%= select_tag('settings[cc]',
                 options_for_select(Group.all.collect{|g| [g.name, g.id]}, @settings['cc'])) %>
</p>

<p>
  <label for="settings_header">Header</label>
  <%= text_area_tag 'settings[header]', @settings['header'] %>
</p>

<p>
  <label for="settings_footer">Footer</label>
  <%= text_area_tag 'settings[footer]', @settings['footer'] %>
</p>


<p>
  <label>
    Update Interval for Tracker (Days)
  </label>
</p>
<div class=box tabular settings>
<table>
  <tr>
    <th>Tracker</th>
    <th>General</th>
    <%IssueStatus.where(is_closed: false).each do |issue_status|%>
      <th><%=issue_status.name%></th>
    <%end%>
  </tr>
  <%Tracker.all.each do |tracker| -%>
    <tr>
      <th><%=tracker.name%></th>
      <td>
        <%= text_field_tag "settings[#{tracker.id}_update_duration]", 
          @settings["#{tracker.id}_update_duration"], size: 3 %>
      </td>
      <%IssueStatus.where(is_closed: false).each do |issue_status| -%>
        <td>
          <%= text_field_tag "settings[#{tracker.id}-status-#{issue_status.id}-update]", 
            @settings["#{tracker.id}-status-#{issue_status.id}-update"], size: 3 %>
        </td>
      <%end%>
    </tr>
  <%end%>
</table>    
</div>

<p>
  <label>
    Estimate Turnaround for Tracker (Days)
  </label>
</p>
<div class=box tabular settings>
<table>
  <tr>
    <th>Tracker</th>
    <%IssueStatus.where(is_closed: false).each do |issue_status|%>
      <th><%=issue_status.name%></th>
    <%end%>
  </tr>
  <%Tracker.all.each do |tracker| -%>
    <tr>
      <th><%=tracker.name%></th>
      <%IssueStatus.where(is_closed: false).each do |issue_status| -%>
        <td>
          <%= text_field_tag "settings[#{tracker.id}-status-#{issue_status.id}-estimate]", 
            @settings["#{tracker.id}-status-#{issue_status.id}-estimate"], size: 3 %>
        </td>
      <%end%>
    </tr>
  <%end%>
</table>    
</div>
