<fieldset class="box">
  <legend>
    <b>
      <%= l('update_reminder.settings.destination_header') %>
    </b>
  </legend>

  <div class="tabular settings">
    <%= h l('update_reminder.settings.destination_info') %>
    <br><br>
   
    <p>
    <label for="settings_user_roles">If user has any of this roles...</label>
    <%= select_tag('settings[user_roles]',
                   options_for_select(Role.all.collect{|r| [r.name, r.id]}, @settings['user_roles']), multiple: true) %>
    </p>
 
    <p>
    <label for="settings_cc_roles">...cc these roles in the project:</label>
    <%= select_tag('settings[cc_roles]',
                   options_for_select(Role.all.collect{|r| [r.name, r.id]}, @settings['cc_roles']), multiple: true) %>
    </p>

    <p>
    <label for="settings_opt_out">Don't send emails to users who have this field to NO:</label>
    <% options = UserCustomField.where(field_format: "bool").collect{|r| [r.name, r.id]}
    options.prepend ["None", "none"] %>
    <%= select_tag('settings[opt_out]',
                   options_for_select(options, @settings['opt_out']), multiple: false) %>
    </p>


  </div>
</fieldset>

<fieldset class="box">
  <legend>
    <b>
      <%= l('update_reminder.settings.email_config_header') %>
    </b>
  </legend>

  <div class="tabular settings">
    <%= h l('update_reminder.settings.email_config_info') %>
    <br><br>

    <p>
    <label for="notification interval">Notification interval (days):</label>
    <%= text_field_tag "settings[notification_interval]", 
      @settings["notification_interval"], size: 3 %>
    </p>
 
    <p>
    <label for="number of notifications">Maximum number of notifications:</label>
    <%= text_field_tag "settings[number_of_notifications]", 
      @settings["number_of_notifications"], size: 3 %>
    </p>

    <p>
    <label for="settings_header">Header</label>
    <%= text_area_tag 'settings[header]', @settings['header'] %>
    </p>

    <p>
    <label for="settings_footer">Footer</label>
    <%= text_area_tag 'settings[footer]', @settings['footer'] %>
    </p>

 </div>
</fieldset>


<fieldset class="box">
  <legend>
    <b>
      <%= l('update_reminder.settings.inactivity_warning_header') %>
    </b>
  </legend>
  
 <div class="tabular settings">
    <%= h l('update_reminder.settings.inactivity_warning_info') %>
    <br><br>

    <p>
    <label for="days_since_last_login">Days since last login:</label>
    <%= text_field_tag "settings[days_since_last_login]", 
      @settings["days_since_last_login"], size: 3 %>
    </p>
    <p>
    <label for="days_since_last_update">Days since creating or updating any issue:</label>
    <%= text_field_tag "settings[days_since_last_update]", 
      @settings["days_since_last_update"], size: 3 %>
    </p>
    <p>
    <label for="days_since_last_note">Days since writing a note:</label>
    <%= text_field_tag "settings[days_since_last_note]", 
      @settings["days_since_last_note"], size: 3 %>
    </p>
  </div>
</fieldset>


<fieldset class="box">
  <legend>
    <b>
      <%= l('update_reminder.settings.issue_updates_header') %>
    </b>
  </legend>

  <div class="tabular settings">
    <%= h l('update_reminder.settings.issue_updates_info') %>
    <br><br>

    <div class="tabular settings">
      <table>
        <tr>
          <th>Tracker</th>
          <th>Any update</th>
          <%IssueStatus.where(is_closed: false).each do |issue_status|%>
            <th><%=issue_status.name%></th>
          <%end%>
        </tr>
        <%Tracker.all.each do |tracker| -%>
          <tr>
            <th><%=tracker.name%></th>
            <td>
              <%= text_field_tag "settings[#{tracker.id}_update_duration]", 
                @settings["#{tracker.id}_update_duration"], size: 3 %>
            </td>
            <%IssueStatus.where(is_closed: false).each do |issue_status| -%>
              <td>
                <%= text_field_tag "settings[#{tracker.id}-status-#{issue_status.id}-update]", 
                  @settings["#{tracker.id}-status-#{issue_status.id}-update"], size: 3 %>
              </td>
            <%end%>
          </tr>
        <%end%>
      </table>    
    </div>
  </div>
</fieldset>

