<p>
  <label for="settings_telegram_bot_token">Bot Token</label>
  <%= text_field_tag 'settings[telegram_bot_token]', @settings['telegram_bot_token'], size: 50 %>

  <div style="display: flex; align-items: center;">
    <div style="flex: 1; padding: 0.5em;">
      <h3>WebHooks</h3>

      <% if Setting['protocol'] == 'https' %>
        <%= link_to intouch_bot_init_path, method: 'post' do %><button type="button"><%= t 'intouch.settings.bot_init' %></button><% end %>

        <%= link_to intouch_bot_deinit_path, method: 'delete' do %><button type="button"><%= t 'intouch.settings.bot_deinit' %></button><% end %>
      <% else %>
        <strong><%= t 'intouch.settings.web_hooks_warning' %></strong>
      <% end %>
    </div>

    <div style="flex: 1; padding: 0.5em;">
      <h3>getUpdates</h3>

      <pre><%= t 'intouch.settings.get_updates_hint' %></pre>
    </div>
  </div>
</p>

<h3><%= t 'intouch.settings.telegram.groups' %></h3>

<table class="list">
  <tbody>
  <% for telegram_group in TelegramGroupChat.all %>
    <tr class="<%= cycle("odd", "even") %>">
      <td class="name">
        <%= telegram_group.title %>
      </td>

      <td class="buttons">
        <%= delete_link telegram_group_path(telegram_group) %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
