<p class="description">
  Укажите, в какую группу какие уведомления посылать
</p>

<div>
  Скопировать значения со вкладки
  <%= select_tag 'r', options_for_select(%w(author assigned_to watchers).collect{ |r| [l("intouch.recipient.#{r}"), r] }) %>
  <%= button_tag 'Скопировать', class: 'copySettingsFromOtherTab' %>
</div>

<% TelegramGroupChat.find_each do |telegram_group| %>
  <h5><%= telegram_group.title %></h5>
  <table>
    <thead>
    <tr>
      <th>Статус \ Приоритет</th>
      <% IssuePriority.order(:position).each do |priority| %>
        <th><%= priority.name %></th>
      <% end %>
    </tr>
    </thead>
    <tbody>
    <% IssueStatus.order(:position).each do |status| %>
      <tr>
        <th><%= status.name %></th>
        <% IssuePriority.order(:position).each do |priority| %>

          <td>
            <%= check_box_tag "intouch_settings[telegram_settings][groups][#{telegram_group.id}][#{status.id}][]", priority.id,
                              settings_source.telegram_settings.try(:[], 'groups').try(:[], telegram_group.id.to_s).
                                  try(:[], status.id.to_s).try(:include?, priority.id.to_s),
                                  class: "telegram_#{status.id}_#{priority.id}" %>
          </td>

        <% end %>
      </tr>


    <% end %>
    </tbody>
  </table>
<% end %>
