<p class="description">
  <%= t('intouch.project.settings.issue_update.watchers.description') %>
</p>

<div>
  <%= t('intouch.project.settings.common.copy_settings_from_tab') %>
  <%= select_tag 'r', options_for_select(Intouch.available_recipients_without('watchers').collect{ |r| [l("intouch.recipient.#{r}"), r] }) %>
  <%= button_tag t('intouch.project.settings.common.copy'), class: 'copySettingsFromOtherTab' %>
</div>
<br>
<table>
  <thead>
  <tr>
    <th><%= t('field_status') %> \ <%= t('field_priority') %></th>
    <% IssuePriority.order(:position).each do |priority| %>
      <th><%= priority.name %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% IssueStatus.order(:position).each do |status| %>
    <tr>
      <th>
        <%= status.name %>
      </th>
      <% IssuePriority.order(:position).each do |priority| %>
        <td>
          <% Intouch.active_protocols.each do |protocol| %>
            <%= check_box_tag "intouch_settings[#{protocol}_settings][watchers][#{status.id}][]", priority.id,
                              settings_source.send("#{protocol}_settings").try(:[], 'watchers').
                                  try(:[], status.id.to_s).try(:include?, priority.id.to_s),
                                  class: "#{protocol}_#{status.id}_#{priority.id}" %>
            <%= label_tag l "intouch.protocols.#{protocol}" %><br>
          <% end %>
        </td>
      <% end %>
    </tr>


  <% end %>
  </tbody>
</table>
