<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <span class="header">
      <%= Redmine::WikiFormatting.to_html(Setting.text_formatting,
          Setting.plugin_redmine_intouch['header']).html_safe %>
    </span>

    <%= @user.name %>,
    <p>
      <%= link_to("#{h(@issue.tracker)} ##{@issue.id}",
          {controller: 'issues', action: 'show', id: @issue, only_path: false}) %>
      <%= @issue.telegram_message %>
    </p>

    <span class="header">
      <%= Redmine::WikiFormatting.to_html(Setting.text_formatting,
          Setting.plugin_redmine_intouch['footer']).html_safe %>
    </span>
  </body>
</html>
