<% html_title "#{t('label_intouch_settings_template_edit')} - #{t('intouch.settings.telegram.users')} - Redmine Intouch plugin" %>

<h2>
  <%= link_to t('label_module_plural'), '/admin/plugins' %>
  &#187;
  <%= link_to 'Redmine Intouch plugin', '/settings/plugin/redmine_intouch' %>
  &#187;
  <%= link_to t('intouch.settings.telegram.users'),
              { action: "plugin", id: "redmine_intouch", controller: "settings", tab: 'telegram'} %>
  &#187;
  <%= t('label_intouch_settings_template_edit') %>
</h2>

<h3><%= @telegram_user.name %></h3>

<%= form_tag({:action => 'update', :id => @telegram_user}, :class => "tabular", :method => :put) do %>
  <%= error_messages_for 'telegram_user' %>

  <div class="box tabular">
    <p>
      <%= label 'telegram_user', 'user_id' %>
      <%= collection_select(:telegram_user, :user_id, User.active.sort_by(&:name), :id, :name, prompt: true) %></p>
  </div>


  <%= submit_tag l(:button_save) %>
<% end %>

<% content_for :header_tags do %>
  <%= stylesheet_link_tag "intouch.css?#{Intouch.commit_hash}", plugin: 'redmine_intouch' %>
  <%= javascript_include_tag "intouch.js?#{Intouch.commit_hash}", plugin: 'redmine_intouch' %>
<% end %>
